.lang-btns {
  border-radius: 20px;
  padding: 10px;
  color: #db1c48;
  border: #db1c48 2px solid;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
}
.highlight {
  background-color: #db1c48;
  color: white;
}
.list-el {
  list-style-type: none;
}
